body {
	font-family:Seguoe UI,Constantia,Cambria;
	font-size: 15px;
	line-height:1;	
	padding:10px;
	margin: auto;
	background-color:#ffffff;
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

@media screen(max-width: 700px){
	body{
		display:none;
	}
}
/*global*/
.grid{
	display: grid;
	grid-template-columns: repeat(12,2fr);
	grid-template-rows:100px 550px 50px;
}
header, footer{
	grid-column: span 13;
}
main {
	grid-column:span 6;
}
aside {
	grid-column: span 6;
}
.container{
	width: 78%;
	margin:auto;
	overflow: hidden;
	line-height: 1;
	padding-right: 50px;
}
 ul{
	margin: 0;
	padding: 0;
}
/*input[type='number'] {
    -moz-appearance:textfield;
}*/
/*header*/
header{
	background: #ffffff;
	color: #00cc00;
	padding-top: 20px;
	min-height: 70px;
	border-bottom: #f4f4f4 5px solid;
}
/*header img{
	float:left;
	width:40px;
	height: 40px;
}*/
header h1{
	font-weight: bolder;
	font-size: 50px;
	text-align: auto;
}
header a{
	color: #a9a9a9;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
}
header li{
	float: left;
	display: inline;
	padding: 0 15px 0 15px;
}
header #branding{
	float: left;
	padding-left:55px;
}
header #branding h1{
	padding-bottom: 10px;
	padding-right: 50px;
		font-size: 40px;
		font-family:Engravers MT;
}
header nav{
	padding-left: 10px;
	float: right;
	margin-top: 40px;
}
header a:hover{
	color: #000000;
	font-weight: bold;
}

/*showcase*/
	#showcase h1{
		text-align: center;
		margin-top: 20px;
		font-size: 17px;
		color: #0000cd;

	}
	#showcase p{
		text-align:center;
		font-style:Seguoe UI;
		font-weight: lighter;
		
		

        
	}
	#showcase img {
		padding-top: 10px;
		width: 360px;
		padding-left: 75px;
	}
	#showcase .container{
		text-align: left;


	}
	/*Sign In*/
	#signin h3{
        margin-top: 5px;
        font-size: 18px;
        float:left;
      color: #000000;

    }
    #signin .highlight, signin .container h3{
    	color: #0000CD;
    }
 
    #signin form{
     font-weight: bold;
     font-size: 18px;
     line-height: 21px;
    
   
    }
    #signin fieldset{
    width: 245px;
	font-family:Century gothic;	
	padding-left: 50px;
	padding-right: 50px;

	
    }
    #signin .container{
    	padding-top: 120px;
    	padding-left: 100px;
    	

    }
  
    #signin p{

    	font-size: 20px;
    }
   #signin p2{
   	padding-bottom: 50px;
   	margin-top: 2px;
   }
/*newsletter*/

footer {
	text-align: center;
	background-color: #f4f4f4;
}

/*Admin*/
#admin {
color: #000000;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 16px;
}
#admin :hover{
	color: #00cc00;
}
#admin .container{
	padding-top: 90px;
	line-height: 69px;
	font-family:Century gothic;
}
aside a{
color: #000000;
font-weight: bold;
}
#admin fieldset{
	width: 61%;
}
/*Politician*/
#politician{
color: #000000;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 16px;
}
#politician :hover{
	color: #00cc00;
}
#politician .container{
	padding-right: 50px;
	padding-top: 85px;
	line-height: 70px;
	font-family:Century gothic;
	text-align: left;
}
aside a{
    color: #000000;
    font-weight: bold;
}
aside h3{
	color: #000000;
}
 #politician fieldset{
    width: 60%;
    padding-left: 50px;
    }
/*Voter*/
#voter{
    color: #000000;
	font-size: 13px;
	text-decoration:none;
	text-transform:uppercase;
}
#voter :hover{
	color: #00cc00;
}
#voter .container{
	padding-top: 95px;
	line-height: 50px;
	font-family:Century gothic;
}
aside a{
color: #000000;
}
#voter fieldset{
	width: 320px;
	padding-bottom: 55px;
	padding-right: 30px;
}

/*My Profile*/
#MyProfile{
    color: #006600;
	font-size: 14px;
	text-decoration:none;
	text-transform:none;
}
#MyProfile:hover{
	color: #00cc00;
}
#MyProfile .container{
	padding-right: 100px;
	padding-top: 150px;
	line-height: 40px;
	font-family:Century gothic;
}
aside a{
color: #000000;
text-decoration:none;
}
/* Sign UP*/
}
#signup form{
	display: inline-block;
    font-family:Century gothic;  
    float: center; 
 }

 #signup fieldset{
	width:300px;
	clear:left;
	float: left;
	padding-top: 50px;
	display:inline-block;
	font-family:Century gothic;
	text-align:left;
	padding-left: 30px;
}
#signup input{
  display: inline-block;
text-align: center;

}
select, input[type="text"]{
      width:100%;
      box-sizing:border-box;
    }

legend{
	font-size: 20px;
	font-weight: bold;
    color:#0000CD;
}
#signup .container{
	padding-top: 115px;
	padding-left: 50px;
	font-weight: bold;
	line-height: 20px;
	 width: 100%;
     clear: both;
}
#signup .highlight{
	color:#0000CD;
}
/*My Profile*/

#profile .container{
	text-align:center;
	padding-top: 100px;
}
.container h2{
	color: #0000cd;

}
.container h3{
	text-align: left;
	padding-top: 4px;
	font-size: 20px;
	color: #0000cd;
}
.create fieldset{

	padding: auto;
}
#smallerseats img{
		padding-top: 27px;
		width: 100px;		
}
#bigseats .PC{
	line-height: 0.5px;
}
#bigseats .GC{
   line-height: 0.5px;	
}
#smallerseats .SP{
line-height: 0.1px;
}
#smallerseats .MPS{
	line-height: 0.5px;
}

	/*
    .modal {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        opacity: 0;
        visibility: hidden;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
    }
    .modal-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 1rem 1.5rem;
        width: 24rem;
        border-radius: 0.5rem;
    }
    .close-button {
        float: right;
        width: 1.5rem;
        line-height: 1.5rem;
        text-align: center;
        cursor: pointer;
        border-radius: 0.25rem;
        background-color: lightgray;
    }
    .close-button:hover {
        background-color: darkgray;
    }
    .show-modal {
        opacity: 1;
        visibility: visible;
        transform: scale(1.0);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    }
	
